NODE_ENV="development"
SITE_URL="http://localhost:3000"
API_VERSION="1"
SECRET="choop"
SALT_ROUNDS=10
MONGODB_CONNECTION_STRING="mongodb://localhost:27017/skeleton-ts"
REDIS_CONNECTION_STRING=""
SMTP_HOST="0.0.0.0"
SMTP_PORT="1025"
NODE_TLS_REJECT_UNAUTHORIZED=0
SMTP_SECURE="no"
SMTP_FROM_ADDRESS=""
SMTP_AUTH_USER=""
SMTP_AUTH_PASSWORD=""
## Typegoose stuff:
TG_ALLOW_MIXED=0